body {
	border: 0;
	padding: 0;
	background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/purty_wood.png');
	background-color: white;
}

.game-container {
	height: 500px;
	width: 500px;
  border-radius: 100%;
  background-color: #191919;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.gameboard {
	height: 225px;
  width: 225px;
  float: left;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 2%;
  cursor: pointer;
}

.info {
  height: 225px;
  width: 225px;
  border-radius: 100%;
  background-color: #191919;
  position: relative;
  left: 140px;
  top: 140px;
}

.green,
.green-glow {
	border-top-left-radius: 100%;
}

.green {
	background-color: rgb(0,167,74);
}

.green-glow {
	background-color: #13ff7c;
}

.red,
.red-glow {
	border-top-right-radius: 100%;
}

.red {
	background-color: rgb(159,15,23);
}

.red-glow {
	background-color: #ff4c4c;
}

.yellow,
.yellow-glow {
	border-bottom-left-radius: 100%;
}

.yellow {
	background-color: rgb(204,167,7);
}

.yellow-glow {
	background-color: #fed93f;
}

.blue,
.blue-glow {
	border-bottom-right-radius: 100%;
}

.blue {
	background-color: rgb(9,74,143);
}

.blue-glow {
	background-color: #1c8cff;
}

h1 {
	font-family: 'Alfa Slab One', cursive;
	position: absolute;
	color: white;
	font-size: 60px;
	top: 10px;
	left: 16px;
	letter-spacing: 1px;
}

span {
	font-size: 10px;
}

button {
	height: 35px;
  width: 35px;
  background-color: rgb(0,167,74);
  border-radius: 100%;
  border: none;
  position: absolute;
  top: 130px;
  left: 130px;
}

.count {
	font-family: 'VT323';
	height: 40px;
	width: 40px;
	background-color: black;
	color: white;
	position: absolute;
	top: 126px;
  left: 55px;
  font-size: 28px;
  text-align: center;
  padding-top: 5px;
}