div {
	height: 100px;
	width: 100px;
	border: 1px solid red !important;
}

.game-container {
	height: 500px;
	width: 500px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: black;
  position: relative;
}

.gameboard {
	height: 225px;
  width: 225px;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}

.info {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  background-color: black;
  position: relative;
  left: 125px;
  top: 125px;
}

.green {
	background-color: rgb(0,167,74);
}

.green-glow {
	background-color: #13ff7c;
}

.red {
	background-color: rgb(159,15,23);
}

.red-glow {
	background-color: #ff4c4c;
}

.yellow {
	background-color: rgb(204,167,7);
}

.yellow-glow {
	background-color: #fed93f;
}

.blue {
	background-color: rgb(9,74,143);
}

.blue-glow {
	background-color: #1c8cff;
}

button {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	border: none;
	background-color: #13ff7c;
}